<!DOCTYPE html>
<html ng-app="quickShift">
<head>
  <title>Employee shift feed</title>
</head>
<body>
  <h1>quickShift</h1>
  <div ng-controller="ShiftController as shiftCtrl">
    <form>
      <input type="number" ng-model="shift.hours">
      <input type="number" ng-model="shift.rate">
      <button ng-click="shiftCtrl.addShift(shift.hours, shift.rate)">Enter Your Shift</button>
    </form>
    <div ng-repeat="shift in shiftCtrl.shifts">{{shift.hours}} at {{shift.rate}}</div>
  </div>
  <div ui-view></div>


  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular-ui-router/release/angular-ui-router.js"></script>

  <script src="app/app.js"></script>
  <script src="app/shifts.js"></script>
  <script src="app/services.js"></script>
</body>
</html>