
body {
  margin-top: 10px;
  font-family: arial, sans-serif;
}

#shiftField {
  margin-top: 10px;
  background-color: #edfdfd;
}

#controlBar {
  width: 100%;
  height: 90px;
  border-radius: 25px;
  margin-bottom: 10px;
  background-color: #379797;
}
.shift{
  margin-top: 10px;
  border-radius: 15px;
  border-color: azure;
  height: 25px;
  width: 50%;
  background-color: #5DBCBC;
}